@* <div class="col-lg-4">
    <article class="d-flex flex-column">

        <div class="post-img">
            <img src="@Orchard.AssetUrl((string)Model.ContentItem.Content.BlogPost.Image.Paths[0])" class="img-fluid">
        </div>

        <h2 class="title">
            <a href="blog-details.html">@Model.ContentItem.Content.BlogPost.Subtitle.Text</a>
        </h2>

        <div class="meta-top">
            <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">@Model.ContentItem.Author</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="@Model.ContentItem.CreatedUtc">@Model.ContentItem.CreatedUtc</time></a></li>
            </ul>
        </div>

        <div class="content">
            <p>
                @Model.ContentItem.Content.MarkdownBodyPart.Markdown
            </p>
        </div>

        <div class="read-more mt-auto align-self-end">
            <a href="@Model.ContentItem.Content.AutoroutePart.Path">Read More</a>
        </div>

    </article>
</div>
 *@











@{
    var x = Model.ContentItem.Content;
}


<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-12">

                <article class="blog-details">

                    <div class="post-img">
                        <img src="@Orchard.AssetUrl((string)Model.ContentItem.Content.BlogPost.Image.Paths[0])" class="img-fluid">
                    </div>

                    <h2 class="title">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</h2>

                    <div class="meta-top">
                        <ul>
                            <li class="d-flex align-items-center"><i class="bi bi-person"></i> @Model.ContentItem.Author</li>
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="@Model.ContentItem.CreatedUtc">@Model.ContentItem.CreatedUtc</time></li>
                        </ul>
                    </div><!-- End meta top -->

                    <div class="content">

                        @Model.ContentItem.Content.MarkdownBodyPart.Markdown

                    </div><!-- End post content -->


                </article><!-- End blog post -->

            </div>


        </div>

    </div>
</section>